.nav-link {
    text-decoration: none;
    color: #fff;
    padding: 0 15px;
    font-size: 1.3rem;
    text-align: center;
    width: 90px;
    height: 70px;
    line-height: 70px;
}

.nav-link:hover {
    background-color: #B7A494;
}

.nav-link.active {
    background-color: #B7A494;
    font-weight: bold;
}

.container {
    margin: 0 75px;
}