@font-face {
  font-family: NotoSansTC;
  font-weight: 300;
  src: url('./vendor/NotoSansTC/NotoSansTC-Regular.otf');
}

@font-face {
  font-family: NotoSansTC;
  font-weight: 700;
  src: url('./vendor/NotoSansTC/NotoSansTC-Bold.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: NotoSansTC, Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 1.2rem;
}